.card-image img:hover {
    z-index: 3;
    opacity: 0.2;
}
.card-image .btn-floating {
    z-index: 4;
}
.card-image:hover:before {
    cursor: pointer;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background-color: grey;
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.card-image:hover:after {
    cursor: pointer;
    content: "\e148";
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;

    position: absolute;
    width: 100%;
    height: 100%;
    top: 35%;
    z-index: 2;
    font-size: 5rem;
    text-align: center;
}